/* You can add global styles to this file, and also import other style files */
body {

    background-color: #e9ebee;
    color: #1d2129;
}

.component {
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  border : 1px solid #e6e6e6;
}
